<html>
<head>

    <!-- //for-mobile-apps -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <!-- js -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <!-- start-smoth-scrolling -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <link rel="stylesheet" href="~/Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />
    <!---//End-rate---->

</head>
<body>


    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jstarbox.js"></script>
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    @RenderSection("script", false)
</body>

</html>
